.banner {
  position: relative;
  height: 600px;   /* bigger */
  width: 100%;
  color: white;

  background-image: url("/banner.jpg");

  background-size: cover;
  background-position: top center; /* changed */
  background-repeat: no-repeat;

}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
}

.banner_buttons {
  margin-top: 20px;
}

.banner_button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner_description {
  margin-top: 20px;
  width: 45%;
  max-width: 500px;
  line-height: 1.3;
}

.banner_fadeBottom {
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
