.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}

.logo {
  color: red;
}

.avatar {
  width: 30px;
}
