.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 150px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.row_poster:hover {
  transform: scale(1.08);
}
